.wrapperCounter {
  width: 280px;

  height: 180px;
  padding: 15px;
  box-sizing: content-box;
  border: 2px dashed #212121;
  margin-left: auto;
}
.countList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.itemCounter {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
   font-family: "DM-Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.input{
  width: 50px;
  padding: 8px;
  border-radius: 4px;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  opacity: 1;
}

.wrapperButton{
  display: block;
  width: 150px;
  margin-top: 30px;
margin-left: auto;
}

