

.btnBought {
  display: block;

  margin-left: auto;
  margin-bottom: 20px;
   min-width: 150px;
  padding: 10px 15px;
  background-color: var(--primary-grey);
  border: 2px solid rgb(35, 29, 29);
  border-radius: 5px;
  &:hover,
  &:active {
    background-color: var(--primary-grey-darken);
  }
}
.section {
  height: calc(100vh - (148px + 128px));
  background-color: rgb(242, 245, 247);
}

.cartItem {
  display: flex;
  padding: 10px;
  height: 40px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}
.cartItem:not(:first-child) {
  border-top: none;
}
.dark .cartItem {
  border: 2px solid white;
}

.cartItemTitle {
  font-family: 'DM-Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: var(--primary-black);
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cartItemTitle .dark{
  color: white;
}
.cartItemPrice {
  margin-left: 20px;
  font-family: 'DM-Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-black);
  min-width: 110px;
}
.cartItemCountName {
  margin-left: 30px;
  font-family: 'DM-Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-black);
}
.cartItemBtn {
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  width: 20px;
  height: 20px;
  background-color: rgb(187, 183, 183);

  justify-content: center;
  align-items: center;
}
.cartItemCount {
  margin-left: 10px;
}
.cartItem_totalPrice {
  margin-left: auto;
  font-family: 'DM-Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-black);
}
.totalPrice {
  padding: 10px;
  text-align: right;
  font-family: 'DM-Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: var(--primary-black);
}
.wrapperItemTrash {
  margin-left: 10px;
  cursor: pointer;
}



.dark {
  background-color: #23272f;
  color: white;
--primary-black: white;

  border-bottom: 1px solid white;
}

.light {
  background-color: rgb(242, 245, 247);
}
