.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.field {
  padding: 10px;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
}
